<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bpazy.dial">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/wifi_router"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="bpazy.dial.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--通过截取短信-->
        <!--<receiver-->
        <!--android:name="bpazy.dial.MessageReceiverFromSms"-->
        <!--android:enabled="true"-->
        <!--android:exported="true">-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--通过截取通知-->
        <service
            android:name=".SmsNotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="bpazy.dial.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName="bpazy.dial.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bpazy.dial.MainActivity" />
        </activity>
    </application>

</manifest>
